AndroidOdlsClient/res/schemas/odls_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.mapc.com/odls" xmlns:odls="http://www.mapc.com/odls">
		
	<xs:complexType name="data">
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary">
				<xs:attribute name="ser_num" use="required" form="qualified"
					type="xs:integer" />
				<xs:attribute name="type" use="required" form="qualified" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="explanation">
		<xs:restriction base="xs:string"></xs:restriction>
	</xs:simpleType>
</xs:schema>