AndroidOdlsClient/res/schemas/patient.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.mapc.com/odls" xmlns:odls="http://www.mapc.com/odls">
  <xs:include schemaLocation="./test.xsd"></xs:include>
  <xs:element name="patient" type="odls:patient" />
  
	<xs:complexType name="patient">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="test" type="odls:test" />
		</xs:sequence>
		<xs:attribute name="id" use="required" form="qualified"
			type="xs:string" />
	</xs:complexType>
	
</xs:schema>
